APP_NAME=swap2naira
APP_ENV=local
APP_KEY=base64:7LgW2kBLoYVpEmqoU9+Lz/jpV9Ne5TczIVl6YVeeopg=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=https://api.swap2naira.com
# APP_URL=http://127.0.0.1:8150

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=xekyahbb_main
DB_USERNAME=xekyahbb_main
DB_PASSWORD="!YKU9@TMInU%"

# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=swap2Naira
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=lim115.truehost.cloud
MAIL_PORT=465
MAIL_USERNAME=info@swap2naira.com
MAIL_PASSWORD="&d1j$a.N~&4G"
MAIL_ENCRYPTION=TLS
MAIL_FROM_ADDRESS="info@swap2naira.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

JWT_SECRET=Jud9KXv1vV9UkIUWoSctnu1yjiSqbK2cmH3IvbmcFbTTr8q68oWvDCMBHsvFKO7c

JWT_ALGO=HS256

FLW_PUBLIC_KEY=FLWPUBK_TEST-98c809581af148e544ed570788b46868-X
FLW_SECRET_KEY=FLWSECK_TEST-cb25311ddd9153ba62a8e326191081a9-X
FLW_ENCRYPTION_KEY=FLWSECK_TEST95b1e2f15c3b
FLW_SECRET_HASH="XBdHbLGs5sO0M9wx9H4iyUBfpYjK1I"
FLW_PAYMENT_URL=https://api.flutterwave.com/v3
ENV='staging/production'